CONFIG_COMPILER_OPTIMIZATION_PERF=y
CONFIG_LWIP_LOCAL_HOSTNAME="fastled"

CONFIG_ESP32_REV_MIN_1=y
CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32_RTC_CLK_SRC_INT_8MD256=y
CONFIG_ESP32_XTAL_FREQ_AUTO=y
CONFIG_ESP32_XTAL_FREQ=0

CONFIG_ESP32_RTC_CLOCK_SOURCE_INTERNAL_8MD256=y
